{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "eslint-config-react-app",
    "@cyberskunk",
    "@cyberskunk/eslint-config/react",
    "@cyberskunk/eslint-config/node",
    "@cyberskunk/eslint-config/es6",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "prettier",
    "import",
    "compat"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/no-commonjs": "off",
    "import/first": "error",
    "import/order": ["error", { "newlines-between": "always"}],
    "import/newline-after-import": ["error", { "count": 1 }],
    "react/prop-types": "off",
    "compat/compat": "error",
    "no-nested-ternary": "off"
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "no-magic-numbers": "off"
      }
    }
  ]
}