:root {
  --size-unit: 12px;
  --double-size-unit: calc(2 * var(--size-unit));
  --smallest-step: calc(var(--size-unit) / 6);
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: pink;
}

.fatalError {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
}

.fatalErrorMessage {
  padding: 1em;
  background: salmon;
  border-radius: var(--smallest-step);
  color: aliceblue;
}

.App {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  height: 60vh;
}

.scores {
  display: grid;
  grid-template-columns: 1fr 2em 1fr;
  justify-content: space-evenly;
}

.score {
  justify-self: center;
}

.score,
.hearts,
.seconds {
  font-size: calc(2 * var(--double-size-unit));
  margin: 0;
}

.seconds {
  text-align: left;
}

.score {
  text-align: center;
}

.hearts {
  text-align: right;
}

.task {
  margin: calc(1 / 2 * var(--size-unit)) 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.number {
  font-size: var(--double-size-unit);
  width: calc(3 * var(--size-unit));
  padding: var(--size-unit);

  text-align: center;

  background: lightskyblue;
  border-radius: var(--smallest-step);
  box-shadow: 0 0 0 var(--smallest-step) navy;
}

.userInput {
  display: none;
}

.numeric-input.numeric-input,
.numeric-input-placeholder {
  justify-self: center;

  font-size: calc(3 * var(--size-unit));
  line-height: calc(4 * var(--size-unit));
  width: calc(2.5 * 3 * var(--size-unit));
  background: #fafafa;
  text-align: center;
}

.emoji {
  font-size: 10vh;
  opacity: 0;
  transform-origin: center;
  position: fixed;
  left: calc(50% - 5vh);
  top: 0;
  animation: zoom 0.8s ease-out;
}
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(4);
    opacity: 1;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
  94% {
    transform: scale(2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

.startScene,
.endScene {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: calc(2 * var(--double-size-unit));
}

.startButton,
.restartButton {
  width: calc(10 * var(--double-size-unit));
  height: calc(10 * var(--double-size-unit));
  font-size: calc(2 * var(--double-size-unit));
  -webkit-appearance: none;
  padding: var(--double-size-unit);
  border-radius: 50%;
  background-color: deeppink;
  border: var(--size-unit) solid black;
}

.startButton:active,
.startButton:hover {
  transition: background-color 0.2s;
  background-color: rgb(122, 10, 70);
}

.gameOver,
.finalScore {
  font-size: calc(2 * var(--double-size-unit));
}

.numeric-keyboard-key {
  color: #333;
}
